body{
    background-image: url('bg.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto 100%; /* Adjust as needed */
    min-height: 100vh; /* Ensure container takes at least the full viewport height */
    padding-left: 20px; /* Add left padding to create space for the content */
    box-sizing: border-box;
}

.row1{
    display: flex;
    border: 1px solid white;
    margin-top: 4%;
    margin-left: 3%;
    margin-right: 3%;
    
}
.signup{
    border:2px solid black;}
.menu{
        display:flex;
        flex-wrap: wrap;
        width: 100%;

        color: var(--1st, #212832);
font-family: Google Sans;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: normal;


    }
.flex{
    display: flex;
    justify-content: space-around;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
    
}
.content2{
    padding: 5%;
}
.travel{
    color: var(--1st, #181E4B);
font-family: Volkhov;
font-size: 84px;
font-style: normal;
font-weight: 700;
line-height: 89px; /* 105.952% */
letter-spacing: -3.36px;
}
.travelPara1{
    color: #DF6951;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}
.travelPara2{
    color: #5E6282;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 30px; /* 187.5% */
}
.row2{
    display:flex;
    flex-wrap: wrap;
}
.content2_1{
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    
}
.findoutmore{
    border-radius: 10px;
background: var(--yellow, #F1A501);
box-shadow: 0px 20px 35px 0px rgba(241, 165, 1, 0.15);
width: 170px;
height: 60px;
flex-shrink: 0;
color: var(--white, #FFF);
text-align: center;
font-family: Google Sans;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.playDemo{
    color: var(--text-color, #686D77);
font-family: Poppins;
font-size: 17px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.category{
    flex-direction: column;
    flex-wrap: wrap;
}
.txtCategory{
    color: var(--textclr, #5E6282);
text-align: center;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.weOffer{
    color: var(--3rd, #14183E);
text-align: center;
font-family: Volkhov;
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: capitalize;
}

.offers{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    justify-content: space-around;
}
.grp48{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding:3%;
    align-items: center;
    
}
.txt48{
    color: var(--text-heading-color, #1E1D4C);
text-align: center;
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.txt482{
    color: var(--textclr, #5E6282);
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px; /* 162.5% */
width: 181px;
height: 78px;
flex-shrink: 0;
}
.txtTop{
    color: var(--textclr, #5E6282);
text-align: center;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.TopDes{
    color: var(--3rd, #14183E);
text-align: center;
font-family: Volkhov;
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: capitalize;
}
